/* styles/TodoList.css */
.tareas {
    display: flex;
    flex-direction: column;
  }
  
  .tarea {
    border-radius: 1rem;
    background-color: white;
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tarea p {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    color: #5A5A5A;
  }
  